/* reset */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

/* theme  variable*/
.theme {
  --background-primary: hsl(0, 0%, 100%);
  --light-grayish: hsl(210, 60%, 98%);
  --light-grayish-1: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish: hsl(219, 12%, 42%);
  --verydark-gray: hsl(224, 21%, 14%);
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
}

.container {
  height: 100vh;
  color: var(--background-primary);
}

.h2--1 {
  color: var(--verydark-gray);
  font-weight: 700;
}

.span--1 {
  max-width: 5rem;
  border-radius: 1.2rem;
  background-color: var(--blue);
  color: var(--light-grayish);
}
